<!--
 * @Author: your name
 * @Date: 2019-10-31 09:41:38
 * @LastEditTime: 2019-11-23 13:46:44
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \koa2-todolist\client2\src\app\todo-list\todo-list.component.html
 -->
<div class="ui-g ui-fluid" style="justify-content: center;">
  <div *ngFor="let alert of alerts">
    <p-messages [value]="alert"></p-messages>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-4">
    <p-panel header="欢迎 {{userEmail}}，你的待办事项是" class="ui-g-12">
      <input pInputText [(ngModel)]="todos" placeholder="请输入待办事项" (keyup)="addTodos($event)">
    </p-panel>
    <p-tabView class="ui-g-12">
      <p-tabPanel header="待办事项">
        <p-dataGrid [value]="lists | lists:1" emptyMessage="暂无待办事项" (onPage)="showNum($event)" [paginator]="true"
          [rows]="5" [trackBy]="trackById">
          <ng-template let-list let-i="index" pTemplate="item">
            <div class="ui-g-12">
              <div class="ui-g-8">
                {{i+1}}. {{list.content}}
              </div>
              <div class="ui-g-4  ui-g-nopad" style="display:flex;">
                <button pButton icon="pi pi-check-circle" class="ui-button-primary"
                  (click)="finished(list._id)"></button>
                <button pButton icon="pi pi-times-circle" class="ui-button-danger" (click)="remove(list._id)"></button>
              </div>
            </div>
          </ng-template>
        </p-dataGrid>
      </p-tabPanel>
      <p-tabPanel header="已完成事项">
        <p-dataGrid [value]="lists | lists" emptyMessage="暂无已完成事项" (onPage)="showNum($event)" [paginator]="true"
          [rows]="5" [totalRecords]="totalRecords" [trackBy]="trackById">
          <ng-template let-list let-i="index" pTemplate="item">
            <div class="ui-g-12">
              <div class="ui-g-10">
                {{i+1 + currentId}}. {{list.content}}
              </div>
              <div class="ui-g-2 ui-g-nopad">
                <button pButton icon="pi pi-minus-circle" class="ui-button-success"
                  (click)="restore(list._id)"></button>
              </div>
            </div>
          </ng-template>

        </p-dataGrid>
      </p-tabPanel>
    </p-tabView>
    <button class="ui-button-danger" pButton type="button" label="退出" (click)="logout($event)"></button>
  </div>
</div>
