<div class="ui-g" style="justify-content: center;">
  <p-panel header="欢迎登陆" class="ui-g ui-fluid">
    <form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && doLogin()" autocomplete="nope">
      <div class="ui-g-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input pInputText type="email" id="email" name="email" placeholder="邮箱" required minlength="4" maxlength="24" [(ngModel)]="user.email"
            #email="ngModel" autocomplete="nope">


        </div>
        <div *ngIf="loginForm.submitted && !email.valid" class="ui-g-12">
          邮箱必须填写
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
          <input pInputText type="password" id="password" autocomplete="nope" name="password" placeholder="密码" required [(ngModel)]="user.password" #password="ngModel">

        </div>
        <div *ngIf="loginForm.submitted && !password.valid" class="ui-g-12">
          密码必须填写
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-inputgroup">

          <button pButton label="登陆"></button>

        </div>
      </div>
    </form>

  </p-panel>
</div>
